---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14beSDLYcdnh37DjH4ivTydS&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410468370,
          "id": "cus_4lAn9DHY801g8k",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4lAn9DHY801g8k/subscriptions",
            "data": [
              {
                "id": "sub_4lAncFjv8VgjYN",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1410466987,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 3,
                  "metadata": {},
                  "statement_description": "jhunter-myflix"
                },
                "object": "subscription",
                "start": 1410468370,
                "status": "trialing",
                "customer": "cus_4lAn9DHY801g8k",
                "cancel_at_period_end": false,
                "current_period_start": 1410468370,
                "current_period_end": 1410727570,
                "ended_at": null,
                "trial_start": 1410468370,
                "trial_end": 1410727570,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4lAn9DHY801g8k/cards",
            "data": [
              {
                "id": "card_14beSDLYcdnh37DjtLt7u9RF",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "bWHi70YuX8gdz3kp",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4lAn9DHY801g8k"
              }
            ]
          },
          "default_card": "card_14beSDLYcdnh37DjtLt7u9RF"
        }
  recorded_at: Thu, 11 Sep 2014 20:46:10 GMT
recorded_with: VCR 2.9.2
