---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14awaMLYcdnh37DjY13hbtf2&description=Enrollment%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14awaOLYcdnh37DjiKuuTcOl",
          "object": "charge",
          "created": 1410299740,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14awaMLYcdnh37DjazmmJmcp",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "bWHi70YuX8gdz3kp",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14awaOLYcdnh37DjiKuuTcOl/refunds",
            "data": []
          },
          "balance_transaction": "txn_14awaOLYcdnh37Dj7dvfsuWx",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Enrollment charge for john@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Tue, 09 Sep 2014 21:55:39 GMT
recorded_with: VCR 2.9.2
