---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14b3DdLYcdnh37Dj26qLu44r&description=Enrollment%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14b3DeLYcdnh37DjfJlfPY9a"
          }
        }
  recorded_at: Wed, 10 Sep 2014 05:00:38 GMT
recorded_with: VCR 2.9.2
