---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14cL8LLYcdnh37DjnTtrg06n
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14cL8LLYcdnh37DjnTtrg06n",
          "created": 1410632429,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14cL8LLYcdnh37DjeGUwZL0v",
              "object": "charge",
              "created": 1410632429,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14cL8KLYcdnh37DjNztsyDHQ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2016,
                "fingerprint": "bWHi70YuX8gdz3kp",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4lsu4Uj5ekkxhx"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14cL8LLYcdnh37DjeGUwZL0v/refunds",
                "data": []
              },
              "balance_transaction": "txn_14cL8LLYcdnh37DjBCcNPctK",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4lsu4Uj5ekkxhx",
              "invoice": "in_14cL8LLYcdnh37DjEZwUWGoW",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "Myflix",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4lsuPFunuSqxrg"
        }
  recorded_at: Sat, 13 Sep 2014 18:51:34 GMT
recorded_with: VCR 2.9.2
