---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14beS3LYcdnh37Dj5btYbvGK",
          "livemode": false,
          "created": 1410468359,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14beS3LYcdnh37DjACxHHFVm",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2019,
            "fingerprint": "9v0KymVR2r4xsXv5",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 11 Sep 2014 20:45:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14beS3LYcdnh37Dj5btYbvGK&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14beS3LYcdnh37DjAZx9PRNQ"
          }
        }
  recorded_at: Thu, 11 Sep 2014 20:45:59 GMT
recorded_with: VCR 2.9.2
