---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14cTjwLYcdnh37Dj6fxjOVNF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14cTjwLYcdnh37Dj6fxjOVNF",
          "created": 1410665512,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14cTjwLYcdnh37DjuXYC8DKk",
              "object": "charge",
              "created": 1410665512,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14cTitLYcdnh37Dj73Tqim3s",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2018,
                "fingerprint": "Uwa6qthwssZBj75w",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4lAn9DHY801g8k"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14cTjwLYcdnh37DjuXYC8DKk/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4lAn9DHY801g8k",
              "invoice": null,
              "description": "myflix",
              "dispute": null,
              "metadata": {},
              "statement_description": "Myflix fail",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_4m1n6PNoJIyrGb"
        }
  recorded_at: Mon, 15 Sep 2014 11:19:33 GMT
recorded_with: VCR 2.9.2
