---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14beS4LYcdnh37Dj1f1Xz3xF",
          "livemode": false,
          "created": 1410468360,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14beS4LYcdnh37DjEF8k8NjQ",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2019,
            "fingerprint": "bWHi70YuX8gdz3kp",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 11 Sep 2014 20:46:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14beS4LYcdnh37Dj1f1Xz3xF&email=sabryna_schneider%40hyatt.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_9oE8bTWTjqMGMaYlLrhEZe13
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410468360,
          "id": "cus_4lAnKrfb4FKkpi",
          "livemode": false,
          "description": null,
          "email": "sabryna_schneider@hyatt.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4lAnKrfb4FKkpi/subscriptions",
            "data": [
              {
                "id": "sub_4lAnnMhTGf6CwH",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1410466987,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 3,
                  "metadata": {},
                  "statement_description": "jhunter-myflix"
                },
                "object": "subscription",
                "start": 1410468360,
                "status": "trialing",
                "customer": "cus_4lAnKrfb4FKkpi",
                "cancel_at_period_end": false,
                "current_period_start": 1410468360,
                "current_period_end": 1410727560,
                "ended_at": null,
                "trial_start": 1410468360,
                "trial_end": 1410727560,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4lAnKrfb4FKkpi/cards",
            "data": [
              {
                "id": "card_14beS4LYcdnh37DjEF8k8NjQ",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2019,
                "fingerprint": "bWHi70YuX8gdz3kp",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4lAnKrfb4FKkpi"
              }
            ]
          },
          "default_card": "card_14beS4LYcdnh37DjEF8k8NjQ"
        }
  recorded_at: Thu, 11 Sep 2014 20:46:00 GMT
recorded_with: VCR 2.9.2
